server:
  port: 9084

spring:
  application:
    name: ignored

eureka:
  client:
    healthcheck:
      enabled: true

logging:
  level:
    org.springframework: debug

management:
  endpoints:
    web:
      exposure:
        include: metrics