spring:
  application:
    name: user-service


eureka:
  client:
    healthcheck:
      enabled: true
logging:
  level:
    org.springframework: debug
    io.github.resilience4j: debug
server:
  port: 9082

management:
  endpoints:
    web:
      exposure:
        include:
          - hystrix.stream
          - metrics